####
## Source descriptions:
##

<source>
  @type tail
  path /var/log/nginx/access.log
  pos_file /var/log/td-agent/nginx-access.log.pos
  tag nginx.access
  <parse>
    @type nginx
  </parse>
</source>

<source>
  @type tail
  path /var/log/nginx/error.log
  pos_file /var/log/td-agent/nginx-error.log.pos
  tag nginx.error
  <parse>
    @type nginx
  </parse>
</source>

####
## Filter descriptions:
##

<filter nginx.access>
  @type grep
  <exclude>
    key ip
    {% raw %}pattern ^(?:{{ lookup('file', '/tmp/fluentd/denylist.txt')|map('regex_escape')|join('|') }}){% endraw %} 
  </exclude>
</filter>

<filter nginx.error>
  @type grep
  <exclude>
    key ip
    {% raw %}pattern ^(?:{{ lookup('file', '/tmp/fluentd/denylist.txt')|map('regex_escape')|join('|') }}){% endraw %} 
  </exclude>
</filter>

####
## Match descriptions:
##

<match nginx.*>
  @type file
  path /tmp/fluentd/denylist_audit.log
  append true
</match>
